/* 
	admin
	
	These are all the DasBlog specific styles that you can
	use to customize the look and feel of the admin content
*/

.adminNavbarStyle {
	padding-top: 10px;
	padding-left: 1%;
	padding-right: 1%;
	font-size: 11px;
	font-weight: normal;
	text-align: center;
	height: 17px;
	display: block;
	z-index: 1;
	position:relative;
	border-bottom: 1px solid #0066FF;
	
}

.adminNavbarStyle UL { 
	white-space: nowrap;
	margin: 0px;
	padding: 0px;
	display: inline;
}

.adminNavbarStyle UL LI { 
	margin: 0px;
	padding: 3px;
	border-top: 1px solid #0066FF;
	border-right: 1px solid #0066FF;
	list-style: none;
	display: inline;
	background-color: #EEE;
}

.adminNavbarStyle UL LI.first { 
	border-left: 1px solid #0066FF;
}

.adminNavbarStyle UL LI a { 
	
}

.adminNavbarStyle UL LI.here 
{
	background-color: White;
	border-bottom:1px solid White;
	list-style: none;
	display: inline;
	z-index:3;
	position:relative;
}

.adminNavbarStyle UL LI.firstHere 
{
	border-left: 1px solid #0066FF;
	background-color: White;
	border-bottom:1px solid White;
	list-style: none;
	display: inline;
	z-index:3;
	position:relative;
}

.configControlStyle { font-size: 11px; font-family:Tahoma; }

.configLabelColumnStyle { vertical-align: top; }

.configLabelStyle { margin-right: 10px; font-size: 11px; }

.configSectionStyle {
	border: 1px dashed #999;
	padding-right: 10px;
	padding-left: 10px;
	margin-bottom: 15px;
	padding-bottom: 10px;
	padding-top: 10px;
	vertical-align: middle;
}

.configSectionTitleStyle {
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid #999;
	font-weight: bold;
	font-size: 110%;
}

.statsTableColumnStyle {
	border: solid 1px;
	padding: 3px;
	margin-top: 3px;
	margin-bottom: 3px;
}

.statsTableDateColumnStyle {
	border: solid 1px;
	padding: 3px;
	margin-top: 3px;
	margin-bottom: 3px;
	width: 25%;
	text-align: left;
}

.statsTableFooterColumnStyle {
	border-left: solid 1px;
	border-right: solid 1px;
	border-bottom: solid 1px;
	border-top: solid 2px;
	padding: 3px;
	font-weight: bold;
}

.statsTableFooterNumColumnStyle {
	border-left: solid 1px;
	border-right: solid 1px;
	border-bottom: solid 1px;
	border-top: solid 2px;
	padding: 3px;
	width: 15%;
	font-weight: bold;
	text-align: right;
}

.statsTableHeaderColumnStyle {
	border-left: solid 1px;
	border-right: solid 1px;
	border-bottom: solid 2px;
	border-top: solid 1px;
	padding: 3px;
	font-size: 105%;
	font-weight: bold;
}

.statsTableNumColumnStyle {
	border: solid 1px;
	padding: 3px;
	margin-top: 3px;
	margin-bottom: 3px;
	width: 15%;
	text-align: right;
}

.statsTableStyle {
	margin-bottom: 10px;
	border: solid 1px;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

/* Paging */
.post-paging {
}
.previous-posts{
}
.next-posts{
}
.clear {
clear: both
}

/* Tag Cloud */
.smallestTag { line-height: 110%; font-size: x-small; font-weight: normal; }
.smallerTag { line-height: 110%; font-size: x-small; font-weight: bold; }
.smallTag { line-height: 110%; font-size: small; font-weight: normal; }
.mediumTag { line-height: 110%; font-size: medium; font-weight: normal; }
.largeTag { line-height: 110%; font-size: large; font-weight: normal; }
.largerTag { line-height: 110%; font-size: x-large; font-weight: normal; }
.largestTag { line-height: 110%; font-size: x-large; font-weight: bold; }
 
/* OpenID Support added in 2.2 */
.openidtextbox {
	background: #FFFFFF url('../../images/openid-icon-small.gif') no-repeat scroll 0pt 50%; 
	padding-left: 18px; 
}
.openidtextboxwrap 
{
	padding-right: 18px;
}