@using DasBlog.Core.Common
@model ListPostsViewModel


@if (Model.Posts.Count > 0)
{
    foreach (var post in Model.Posts)
    {
        <partial name="_BlogItem" model="post" />
    }
}
else
{
    <p>No posts found!</p>
}

<div class="container text-center">
    <p class="text-muted">
        <site-page-control page-number=@(int)ViewData[Constants.PageNumber] post-count=(int)ViewData[Constants.PostCount] />
    </p>
</div>
