@using DasBlog.Core.Common
@model ListPostsViewModel


@if (Model.Posts.Count > 0)
{
    foreach (var post in Model.Posts)
    {
        @await Html.PartialAsync("_BlogItem", post)
    }
}
else
{
    <p>No posts found!</p>
}

<div class="container text-center">
    <p class="text-muted">
        @if ((bool) ViewData[Constants.ShowPageControl])
        {
            var separatorRequired = (int) ViewData[Constants.PostCount] > 0
                                    && (int) ViewData[Constants.PageNumber] > 0;
            if((int) ViewData[Constants.PageNumber] > 0)
            {
                <a href="page/@((int) ViewData[Constants.PageNumber] - 1)"
                   id="@Constants.PreviousPageId">
                    &lt;&lt;Newer Posts
                </a>
            }
            if(separatorRequired)
            {
                WriteLiteral("|");
            }
            if((int) ViewData[Constants.PostCount] > 0)
            {
                <a href="page/@((int) ViewData[Constants.PageNumber] + 1)"
                   id="@Constants.NextPageId">
                    Older Posts &gt;&gt;
                </a>
            }
        }
    </p>
</div>
