@model ListPostsViewModel


@if (Model.Posts.Count > 0)
{
    foreach (var post in Model.Posts)
    {
        @await Html.PartialAsync("_BlogItemSummary", post)
    }
}
else
{
    <p>No posts found!</p>
}