@using DasBlog.Web.Models.BlogViewModels;

@model ListCommentsViewModel
@inject IDasBlogSettings dasBlogSettings

@if (Model != null && Model.Comments != null)
{
    <hr />
    <a class="comment-section-title" href="@Model.CommentUrl" >Comment Section</a>

    <div class="post-comments">
        <div class="post-comments-list">
            @if (Model.ShowComments && Model.Comments.Count > 0)
            {
                foreach (var comment in Model.Comments)
                {
                    <partial name="_CommentPartial" model="comment" />
                    <hr />
                }
            }
        </div>
        @if (dasBlogSettings.AreCommentsPermitted(Model.PostDate))
        {
            @await Html.PartialAsync("_CommentAddPartial", new AddCommentViewModel() { Content = string.Empty, Email = string.Empty, HomePage = string.Empty, Name = string.Empty, TargetEntryId = Model.PostId })
        }
        else
        {
            <p>Comments are closed.</p>
        }
    </div>
}