<?xml version="1.0" encoding="utf-8"?>
<RobotDefinition xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="urn:newtelligence-com:dasblog:config">
	<Domains>
		<string>msnbot.msn.com</string>
	</Domains>
	<UserAgents>
		<string>Accoona-AI-Agent</string>
		<string>BecomeBot</string>
		<string>FAST Enterprise Crawler</string>
		<string>Gigabot</string>
		<string>Googlebot</string>
		<string>HTTrack</string>
		<string>IRLbot</string>
		<string>ISC Systems iRc Search</string>
		<string>Indy Library</string>
		<string>MJ12bot</string>
		<string>NetResearchServer</string>
		<string>NutchCVS</string>
		<string>RufusBot</string>
		<string>Snapbot</string>
		<string>Sphere Scout</string>
		<string>TurnitinBot</string>
		<string>Yahoo! Slurp</string>
		<string>Yahoo-MMCrawler</string>
		<string>asterias</string>
		<string>gsa-crawler</string>
		<string>ia_archiver</string>
		<string>ichiro</string>
		<string>msnbot</string>
		<string>psbot</string>
		<string>www.adressendeutschland.de</string>
	</UserAgents>
</RobotDefinition>