@using System.Reflection.Metadata.Ecma335
@using DasBlog.Web.Common
@model System.Collections.Generic.IEnumerable<DasBlog.Core.Security.User>

@functions
{

    string ElideTitle(string title)
    {
        const int maxLen = 30;
        if (title.Length > maxLen)
        {
            return title.Substring(0, maxLen - 3) + "...";
        }
        else
        {
            return title;
        }
    }

}


<div class="row" style="padding-top: 15px">
    <div class=" col-md-offset-7 col-md-5 vcenter">
        <form asp-action="Maintenance" asp-controller="Users" method="get">
            @if (ViewBag.SubViewName == Constants.ViewUserSubView)
            {
                <input type="submit" class="btn btn-primary" name="maintenanceMode" value="@Constants.UsersCreateMode"/>
            }
            else
            {
                <input type="submit" class="btn" name="maintenanceMode" value="@Constants.UsersCreateMode" disabled/>

            }
        </form>
    </div>
</div>
<div class="row" style="padding-left: 15px">
    <div style="max-height: 500px; overflow-y: scroll">
        <table class="table">
            <thead>
            <tr>
                <th>
                    Users
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        <user-id email-address="/users/@item.EmailAddress" linkability="@ViewBag.Linkability"> @ElideTitle(item.EmailAddress)</user-id>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
