
BODY
{
	font-family: Georgia, serif;
	font-size: 80%;
	margin: 0pt 0pt 0pt 0pt;
	color: #000000;
	background-color: #FFFFFF;
}

P
{
	margin: 4pt 0pt 0pt 0pt;
}

UL, OL
{
	margin-top: 4pt;
	margin-bottom: 6pt;
}

PRE
{
	font-family: Verdana, sans-serif;
	font-size: 100%;
	margin: 9pt;
}

CODE, TT
{
	font-family: Verdana, sans-serif;
	font-size: 100%;
}

TD.Header
{
	color: #000000;
	background-color: #99CCFF;
	border-bottom: 6px solid #6699CC;
}

DIV.Header
{
	margin: 6pt 6pt;
}

DIV.Title
{
	font-size: 150%;
	font-weight: bold;
}

DIV.Title A
{
	color: #000000;
	text-decoration: none;
	font-style: normal;
	font-weight: bold;
}

A.TitleLinkStyle
{
	color: #000000;
	text-decoration: none;
	font-style: normal;
	font-weight: bold;
}

DIV.Subtitle
{
	font-size: 80%;
	font-weight: normal;
}

TD.Margin
{
	border-right: 6px solid #6699CC;
	border-bottom: 6px solid #6699CC;
}

TD.Body
{
	border-left: 6px solid #6699CC;
	border-right: 6px solid #6699CC;
	border-bottom: 6px solid #6699CC;
}

TD.Footer
{
	font-size: 80%;
	font-weight: normal;
	text-align: right;
	padding: 6pt 6pt 6pt 48pt;
}

TD.DayDate
{
	padding: 6pt 3pt 6pt 3pt;
}

TD.DayDate DIV.DayDate
{
	font-size: 100%;
	font-weight: bold;
	padding: 6pt 3pt 3pt 3pt;
}

DIV.bodyContentStyle
{
	padding-top: 12pt;
}

DIV.commentBoxStyle
{
	margin-bottom: 6pt;
	border: 1px solid #6699CC;
	margin: 0pt 12pt 6pt 18pt;
	font-size: 80%;
}

DIV.commentDateStyle
{
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 70%;
	background-color: #99CCFF; 
	padding: 1pt 3pt 1pt 3pt;
}

DIV.commentBodyStyle
{
	margin: 3pt 0pt 3pt 0pt;
	padding: 1pt 3pt 1pt 3pt;
}

DIV.commentBoxFooterStyle
{
	padding: 0pt 3pt 3pt 3pt;
	font-family: Verdana, sans-serif;
	font-weight: bold;
	text-align: right;
}

TABLE.commentViewTableStyle
{
	margin: 9pt 9pt 9pt 9pt;
	padding: 9pt 9pt 9pt 9pt;
	border: 1px solid #6699CC;
	font-size: 80%;
}

TABLE.Item
{
	margin-bottom: 6pt;
	border: 1px solid #6699CC;
}

TD.ItemTitle
{
	background-color: #99CCFF; 
}

TD.ItemTitle DIV.ItemTitle
{
	font-size: 80%;
	font-weight: bold;
	padding: 3pt 3pt 3pt 3pt;
}

TD.ItemText DIV.ItemText
{
	font-size: 80%;
	padding: 0pt 3pt 3pt 3pt;
}

TD.ItemData DIV.ItemData
{
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 70%;
	text-align: right;
	color: #808080;
	padding: 0pt 3pt 3pt 3pt;
	overflow: auto;
}

DIV.AdminMenu
{
	font-family: Verdana, sans-serif;
	font-size: 75%;
	padding: 4pt;
}

TABLE.MarginSection
{
	margin: 6pt 0pt 0pt 0pt;
	border: 1px solid #6699CC;
}

TD.MarginSectionHeading
{
	font-family: Verdana, sans-serif;
	font-size: 75%;
	font-weight: bold;
	background-color: #99CCFF;
	padding: 1pt;
}

TD.MarginSectionBody
{
	font-family: Verdana, sans-serif;
	font-size: 75%;
}

.hCalendarStyle
{
	width: 1%;
}

.hCalendarStyle A
{
	color: #000000;
	text-decoration: none;
	font-style: normal;
	font-weight: bold;
}

.hCalendarMonthYearRow
{
	font-family: Verdana, sans-serif;
	font-size: 75%;
}

.hCalendarNextPrevStyle
{
	width: 1%;
}

.hCalendarDayNameRow
{
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 70%;
}

.hCalendarOtherMonthWeekendStyle
{
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 70%;
	color: #808080;
}

.hCalendarOtherMonthStyle
{
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 70%;
	color: #808080;
}

.hCalendarDayCurrent
{
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 70%;
	border: 1px solid #6699CC;
}

.hCalendarDay
{
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 70%;
}

.hCalendarWeekendStyle
{
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 70%;
}

.categoryListCellStyle
{
	margin: 0pt;
	padding: 0pt;
}

.categoryListLinkStyle
{
	font-family: Verdana, sans-serif;
	font-size: 75%;
}

.categoryListNestedOutlineTitleStyle
{
	font-family: Verdana, sans-serif;
	font-size: 75%;
}

.categoryListNestedOutlineBodyTableStyle
{
	margin-left: 18pt;
}

.navigatorLinksTableStyle
{
	margin: 0pt;
	padding: 0pt;
}

.archiveLinksTableStyle
{
	font-family: Verdana, sans-serif;
	font-size: 100%;
	margin: 0pt;
	padding: 0pt;
}

.navigatorLinksLinkStyle
{
	font-family: Verdana, sans-serif;
	font-size: 75%;
}

.blogRollNestedOutlineBadgeCellStyle
{
	margin: 0pt;
	padding: 0pt;
}

.blogRollCellStyle
{
	margin: 0pt;
	padding: 0pt;
}

.blogRollNestedOutlineTitleStyle
{
	font-family: Verdana, sans-serif;
	font-size: 75%;
	font-weight: bold;
}

.blogRollLinkStyle
{
	font-family: Verdana, sans-serif;
	font-size: 75%;
}

.blogRollDescriptionStyle
{
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 70%;
	padding-left: 8pt;
}

.signInLabelCellStyle
{
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 70%;
}

.signInEditCellStyle
{
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 70%;
}

.signInUsernameTextBoxStyle
{
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 70%;
}

.signInPasswordTextBoxStyle
{
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 70%;
}

.signRememberCheckBoxStyle
{
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 70%;
}

.signInButtonStyle
{
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 70%;
}

.adminNavbarStyle UL
{
	margin: 0pt;
}

.searchContainerStyle
{
	margin: 3pt;
}

A.trackbackLinkStyle
{
	word-wrap: break-word;
}

.FreeTextboxStyle
{
	color: #000000;
}
@media print
{
body, TD.Header, TD.Body, DIV.commentDateStyle, TD.ItemTitle, TD.MarginSectionHeading, TABLE.Item { background-color: transparent; border: none }
TD.Margin, DIV.Badge, DIV.Subscribe { display: none }
}

.commentViewBoxStyle input 
{
	border:1px solid #CCCCCC;
}

/* Paging */
.post-paging {
}
.previous-posts{
}
.next-posts{
}
.clear {
clear: both
}

/* Tag Cloud */
.smallestTag { line-height: 110%; font-size: x-small; font-weight: normal; }
.smallerTag { line-height: 110%; font-size: x-small; font-weight: bold; }
.smallTag { line-height: 110%; font-size: small; font-weight: normal; }
.mediumTag { line-height: 110%; font-size: medium; font-weight: normal; }
.largeTag { line-height: 110%; font-size: large; font-weight: normal; }
.largerTag { line-height: 110%; font-size: x-large; font-weight: normal; }
.largestTag { line-height: 110%; font-size: x-large; font-weight: bold; }
 
/* OpenID Support added in 2.2 */
.openidtextbox {
	background: #FFFFFF url('../../images/openid-icon-small.gif') no-repeat scroll 0pt 50%; 
	padding-left: 18px; 
}
.openidtextboxwrap 
{
	padding-right: 18px;
}
