@model PostViewModel

<div class="col-md-6">
    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
            <small class="text-muted"><post-categories-list post="@Model" /></small>
            <h3 class="mb-0">
                <post-title-link post=@Model />
            </h3>
            <small class="mb-1 text-muted"><post-created-date post="@Model" /></small>
            <p class="card-text mb-auto"><post-content post="@Model" strip-html="true" content-length="20" /></p>

            <post-title-link post=@Model>Continue reading...</post-title-link>
        </div>

        <post-image post=@Model css="card-img-right flex-auto d-none d-lg-block" style="width: 200px; height: 250px;" default-image="/images/default/darkly.png"  />
    </div>
</div>
