@using Microsoft.AspNetCore.Identity
@using DasBlog.Web.Identity
@inject SignInManager<DasBlogUser> SignInManager
@inject UserManager<DasBlogUser> UserManager


    <form dasblog-authorized asp-area="" asp-controller="account" asp-action="logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav-item">
            <li class="nav-link">
                Hello @UserManager.GetUserName(User)!
            </li>
            <li class="nav-link">
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button>
            </li>
        </ul>
    </form>

    <ul dasblog-unauthorized class="nav navbar-nav navbar-right">
        <li><a asp-controller="account" asp-action="login">Log in</a></li>
    </ul>
