<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <partial name="_HtmlHeadPartial" />
    <partial name="_HtmlRSSPartial" />
    <partial name="_TwitterCardPartial" />
    <partial name="_OpenGraphPartial" />
    <partial name="_BlogPostingSchemaOrgPartial" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <partial name="_HtmlThemePartial" />

</head>

<body>
    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><site-title /></a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar-darkly" aria-controls="navbar-darkly" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbar-darkly" class="navbar-collapse collapse" style="">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item nav-item-active"><a class="nav-link" asp-area="" asp-controller="home" asp-action="index">Home</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="category" asp-action="category">Category</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="archive" asp-action="archive">Archive</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="feed" asp-action="rss">Subscribe</a></li>
                <li class="nav-item" dasblog-authorized><a id="CreatePostLink" class="nav-link" asp-area="" asp-controller="post" asp-action="create">Create Post</a></li>
                <li class="nav-item" dasblog-authorized><a class="nav-link" asp-area="" asp-controller="admin" asp-action="settings">Site Admin</a></li>
                <li class="nav-item" dasblog-authorized><a class="nav-link" asp-area="" asp-controller="admin" asp-action="managecomments">Manage Comments</a></li>
                <li class="nav-item" dasblog-authorized><a class="nav-link" asp-area="" asp-controller="author" asp-action="index">Author</a></li>
                <li class="nav-item" dasblog-authorized><a class="nav-link" asp-area="" asp-controller="activity" asp-action="index">Activity</a></li>
            </ul>
            <div class="navbar navbar-collapse  col-md-offset-10 col-md-2">
                @* could not make this go further right (or perhaps it already was fully justified on an indented column *@
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" dasblog-unauthorized><a class="nav-link" asp-controller="account" asp-action="login">Log in</a></li>
                    <li class="nav-item" dasblog-authorized><a class="nav-link" asp-controller="account" asp-action="logout">Log out</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">

        <partial name="_CookieConsentPartial" />

        @RenderBody()

        <div class="container text-center">
            <p class="text-muted">
                <site-page-control view-context="@ViewContext" />
            </p>
        </div>

        <footer>
            <div class="container text-center">
                <p class="text-muted credit"><site-copyright /></p>
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
