@model PostViewModel

<div class="jumbotron">
    <h3 class="mb-0">
        <post-title-link post=@Model css="text-dark"></post-title-link>
    </h3>
    <p>
        <small class="mb-1 text-muted">@Model.CreatedDateTime.ToString("MMMM dd, yyyy")</small>
    </p>
    <div>
        <post-description post="@Model"></post-description>
    </div>

    <p class="lead">
        <post-perma-link post="@Model" css="btn btn-primary btn-lg mt-2">Continue Reading</post-perma-link>
    </p>
</div>



