@model PostViewModel

<div class="jumbotron">
    <h3 class="mb-0">
        <post-title-link post=@Model ></post-title-link>
    </h3>
    <p>
        <small class="mb-1 text-muted"><post-created-date post="@Model" date-time-format="MMMM dd, yyyy" /></small>
    </p>
    <div>
        <p class="card-text mb-auto"><post-content post="@Model" strip-html="true" content-length="20" /></p>
    </div>

    <p class="lead">
        <post-title-link post=@Model>Continue reading...</post-title-link>
    </p>
</div>



