<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <partial name="_HtmlHeadPartial" />
    <partial name="_HtmlRSSPartial" />
    <partial name="_TwitterCardPartial" />
    <partial name="_OpenGraphPartial" />
    <partial name="_BlogPostingSchemaOrgPartial" />

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </environment>

    <partial name="_HtmlThemePartial" />

</head>

<body>

    <div class="container-fluid" id="wrapper">
        <div class="row">
            <nav class="sidebar col-xs-12 col-sm-4 col-lg-3 col-xl-2">

                <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><em class="fa fa-bars"></em></a>
                <ul class="nav nav-pills flex-column sidebar-nav">
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="home" asp-action="index"><em class="fa fa-dashboard"></em>Home</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="category" asp-action="category">Category</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="archive" asp-action="archive">Archive</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="feed" asp-action="rss">Subscribe</a></li>
                    <li class="nav-item"><a dasblog-authorized class="nav-link" asp-area="" asp-controller="post" asp-action="create">Create Post</a></li>
                    <li class="nav-item"><a dasblog-authorized class="nav-link" asp-area="" asp-controller="admin" asp-action="settings">Admin Site</a></li>
                    <li class="nav-item"><a dasblog-authorized class="nav-link" asp-area="" asp-controller="users" asp-action="index">Users</a></li>
                    <li class="nav-item"><a dasblog-authorized class="nav-link" asp-area="" asp-controller="activity" asp-action="index">Activity</a></li>
                </ul>
                <a dasblog-unauthorized class="logout-button" asp-controller="account" asp-action="login"><em class="fa fa-power-off"></em>Signin</a>
                <a dasblog-authorized class="logout-button" asp-controller="account" asp-action="logout"><em class="fa fa-power-off"></em>Signout</a>
            </nav>
            <main class="col-xs-12 col-sm-8 col-lg-9 col-xl-10 pt-3 pl-4 ml-auto">
                <header class="page-header row justify-center">
                    <div class="col-md-6 col-lg-8">
                        <h1 class="site-title"> <site-title-link css="fa fa-rocket" />  </h1>
                    </div>
                    <div class="dropdown user-dropdown col-md-6 col-lg-4 text-center text-md-right">

                    </div>
                    <div class="clear"></div>
                </header>

                <partial name="_CookieConsentPartial" />

                <section class="row">

                    <div class="col-sm-12">
                        <section class="row">

                            <div class="col-md-12 col-lg-8">
                                @RenderBody()
                            </div>

                            <div class="col-md-12 col-lg-4">
                                <div class="card-block">
                                    <site-search-box class="todo-list-footer" inner-class="input-group" heading="Search"
                                                     button-class="btn btn-primary btn-md" button-name="Go" />
                                </div>
                            </div>

                        </section>

                        <section class="row">
                            <div class="container text-center">
                                <p class="text-muted">
                                    <site-page-control view-context="@ViewContext" />
                                </p>
                            </div>

                            <!-- Attribution is required for this theme -->
                            <div class="col-12 mt-1 mb-4">Template theme by <a href="https://www.medialoot.com">Medialoot</a></div>
                        </section>
                    </div>
                </section>
            </main>
        </div>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.3.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>

</html>
