<?xml version="1.0" encoding="utf-8"?>
<SiteConfig>

  <!-- REQUIRED: Your blog will not work properly until you configure these settings. -->
  <!-- Set the Root to the base URL of this blog, such as http://example com/joeuser/blog/ -->
  <Root>https://localhost:5001/</Root>

  <!-- NotificationEMailAddress is the address used by the system to send you event (blog posts, comment posts) notifications.
       This address will NOT be published on the website. -->
  <NotificationEMailAddress>foo@foo.com</NotificationEMailAddress>

  <!-- IMPORTANT: Make sure you also edit the settings in siteSecurity.config (in the same folder as this file) -->
  <!-- END OF REQUIRED SETTINGS -->

  <!-- SUGGESTED: personalization settings (these can all be configured through the administration interface once your blog is up and running) -->
  <!-- Banner text. (Note: not all themes show the Subtitle or Description.) -->

  <Title>My DasBlog!</Title>
  <Subtitle>This is DasBlog Core!</Subtitle>
  <Description>This blog is powered by DasBlog Core built on the awesome legacy of the original DasBlog!</Description>

  <!-- Default visual theme, options currently include "darkly", "dasblog", "flamingo", "kindofblue", and "median" (see "Themes" folder)-->
  <Theme>dasblog</Theme>

  <!-- Contact is the address that is posted on your website so that people can contact you.
       You can use the ObfuscateEmail setting below to make it harder for spammers to harvest your address.-->
  <Contact>dasblog@example.com</Contact>
  <Copyright>Your Name Here</Copyright>

  <!-- END OF SUGGESTED SETTINGS -->

  <MastodonServerUrl />
  <MastodonAccount />

  <RssDayCount>10</RssDayCount>
  <RssMainEntryCount>50</RssMainEntryCount>
  <RssEntryCount>50</RssEntryCount>
  <EnableRssItemFooters>false</EnableRssItemFooters>
  <RssItemFooter>This weblog is sponsored by &lt;a href="https://github.com/poppastring/dasblog-core"&gt;DasBlog-core&lt;/a&gt;. </RssItemFooter>

  <FrontPageDayCount>5</FrontPageDayCount>
  <FrontPageEntryCount>5</FrontPageEntryCount>
  <EntriesPerPage>5</EntriesPerPage>
  <CategoryAllEntries>true</CategoryAllEntries>
  <FrontPageCategory />
  <PostPinnedToHomePage />
  <EnableStartPageCaching>true</EnableStartPageCaching>

  <AlwaysIncludeContentInRSS>true</AlwaysIncludeContentInRSS>
  <EntryTitleAsLink>true</EntryTitleAsLink>
  <ObfuscateEmail>true</ObfuscateEmail>

  <DisplayTimeZoneIndex>4</DisplayTimeZoneIndex>
  <AdjustDisplayTimeZone>true</AdjustDisplayTimeZone>
  
  <ContentDir>content</ContentDir>
  <LogDir>logs</LogDir>
  <BinariesDir>content/binary</BinariesDir>

  <CdnFrom></CdnFrom>
  <CdnTo></CdnTo>

  <EnableTitlePermaLink>true</EnableTitlePermaLink>
  <EnableTitlePermaLinkUnique>false</EnableTitlePermaLinkUnique>
  <EnableTitlePermaLinkSpaces>false</EnableTitlePermaLinkSpaces>

  <EnableRewritingHashtagsToCategoryLinks>false</EnableRewritingHashtagsToCategoryLinks>
  <EnableRewritingBareLinksToEmbeddings>false</EnableRewritingBareLinksToEmbeddings>
  <EnableRewritingBareLinksToIcons>false</EnableRewritingBareLinksToIcons>

  <ShowItemSummaryInAggregatedViews>false</ShowItemSummaryInAggregatedViews>

  <DaysCommentsAllowed>360</DaysCommentsAllowed>
  <EnableCommentDays>true</EnableCommentDays>
  <EnableComments>true</EnableComments>
  <AllowMarkdownInComments>true</AllowMarkdownInComments>
  <CommentsRequireApproval>false</CommentsRequireApproval>
  <CheesySpamQ>2+5=?</CheesySpamQ>
  <CheesySpamA>7</CheesySpamA>
  <ShowCommentCount>true</ShowCommentCount>

  <ContentLookaheadDays>1</ContentLookaheadDays>

  <validCommentTags name="0">
    <tag name="a" attributes="href,title" allowed="true" />
    <tag name="b" attributes="" allowed="true" />
    <tag name="blockquote" attributes="cite" allowed="true" />
    <tag name="em" attributes="" allowed="true" />
    <tag name="i" attributes="" allowed="true" />
    <tag name="pre" attributes="" allowed="true" />
    <tag name="strike" attributes="" allowed="true" />
    <tag name="strong" attributes="" allowed="true" />
    <tag name="sub" attributes="" allowed="true" />
    <tag name="super" attributes="" allowed="true" />
    <tag name="u" attributes="" allowed="true" />
    <tag name="ul" attributes="" allowed="true" />
    <tag name="ol" attributes="" allowed="true" />
    <tag name="li" attributes="" allowed="true" />
    <tag name="p" attributes="" allowed="true" />
  </validCommentTags>

  <ChannelImageUrl>images/zenicon.jpg</ChannelImageUrl>
  <PreferredBloggingAPI>Moveable Type</PreferredBloggingAPI>

  <ShowCommentsWhenViewingEntry>true</ShowCommentsWhenViewingEntry>
  <UseAspxExtension>false</UseAspxExtension>
  <TitlePermalinkSpaceReplacement>-</TitlePermalinkSpaceReplacement>

  <!-- TinyMce, NicEdit, TextArea or Froala -->
  <EntryEditControl>TinyMce</EntryEditControl>
  <TinyMCEApiKey>no-api-key</TinyMCEApiKey>

  <EnableBloggerApi>true</EnableBloggerApi>

  <EnableDailyReportEmail>false</EnableDailyReportEmail>
  <SendCommentsByEmail>false</SendCommentsByEmail>

  <SmtpServer>localhost</SmtpServer>
  <SmtpPort>25</SmtpPort>
  <SmtpUserName />
  <SmtpPassword />
  <SmtpFromEmail />
  <UseSSLForSMTP>false</UseSSLForSMTP>
  <EnableSmtpAuthentication>true</EnableSmtpAuthentication>

  <CookieConsentEnabled>false</CookieConsentEnabled>

  <DefaultSources>data:;https:</DefaultSources>
  <SecurityStyleSources>cloud.tinymce.com;cdn.tiny.cloud;cdn.jsdelivr.net;js.nicedit.com;www.google.com;platform.twitter.com;cdn.syndication.twimg.com;fonts.googleapis.com;maxcdn.bootstrapcdn.com</SecurityStyleSources>
  <SecurityScriptSources>cloud.tinymce.com;cdn.tiny.cloud;cdn.jsdelivr.net;js.nicedit.com;www.google.com;cse.google.com;cdn.syndication.twimg.com;platform.twitter.com;apis.google.com;www.google-analytics.com;www.googletagservices.com;adservice.google.com;securepubads.g.doubleclick.net;ajax.aspnetcdn.com;ssl.google-analytics.com</SecurityScriptSources>

  <!-- Settings below this line are not currently in use -->
  <!-- _________________________________________________ -->
  <CommentsAllowHtml>true</CommentsAllowHtml>
  <EnableCaptcha>false</EnableCaptcha>
  <RecaptchaSiteKey>your_google_recaptcha_site_key_here</RecaptchaSiteKey>
  <RecaptchaSecretKey>your_google_recaptcha_secret_key_here</RecaptchaSecretKey>
  <RecaptchaMinimumScore>0.7</RecaptchaMinimumScore>
  <RssLanguage />
  <EnableSearchHighlight>false</EnableSearchHighlight>
  <LogBlockedReferrals>false</LogBlockedReferrals>
  <CommentsAllowGravatar>true</CommentsAllowGravatar>
  <CommentsGravatarNoImgPath>identicon</CommentsGravatarNoImgPath>
  <CommentsGravatarSize>80</CommentsGravatarSize>
  <CommentsGravatarBorder />
  <CommentsGravatarRating>PG</CommentsGravatarRating>

  <EnableSpamModeration>false</EnableSpamModeration>

  <EnableGeoRss>false</EnableGeoRss>
  <DefaultLatitude>0</DefaultLatitude>
  <DefaultLongitude>0</DefaultLongitude>
  <EnableDefaultLatLongForNonGeoCodedPosts>false</EnableDefaultLatLongForNonGeoCodedPosts>
  <HtmlTidyContent>false</HtmlTidyContent>
</SiteConfig>
