/*
	Colors
	
	All of the colors of the them are located here.
*/

#header {

}

#left .column {

}

#right .column {

}

A:link {	}
A:visited { }
A:hover {

}

A:active { }

body {

}

.adminNavbarStyle {

}

.commentBoxFooterStyle {

}

.commentBoxStyle {

}

.commentDateStyle {

}

.commentDateStyle {

}

.date {

}
.description {

}

.FreeTextboxStyle {
	color: #000000;
}


.itemBodyStyle {

}

.itemBoxStyle {

}

.itemFooterStyle {

}

.itemReadMoreStyle {

}

.itemTitleStyle {

}

.sidetitle {

}

.siteName, .siteName a, .siteName a:visited, .siteName a:hover {

}

/* 
	Calendar Colors
*/
 
.hCalendarDay {

}

.hCalendarDay A {

}

.hCalendarDay A:visited {

}

.hCalendarDay A:hover {

}

.hCalendarDayCurrent {

}

.hCalendarDayNameRow {

}

.hCalendarMonthYearRow {

}


.hCalendarNextPrevStyle {
}

.hCalendarOtherMonthStyle {

}

.hCalendarOtherMonthWeekendStyle {

}

.hCalendarStyle {

}

.hCalendarStyle td {

}

.hCalendarWeekendStyle {

}
