<?xml version="1.0" encoding="utf-8"?>
<SiteSecurityConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Users>
    <User>
      <Role>Admin</Role>
      <Ask>true</Ask>
      <EmailAddress>myemail@myemail.com</EmailAddress>
      <DisplayName>Your DisplayName here!</DisplayName>
      <OpenIDUrl>http://www.example.com/blog/</OpenIDUrl>
      <NotifyOnNewPost>true</NotifyOnNewPost>
      <NotifyOnAllComment>true</NotifyOnAllComment>
      <NotifyOnOwnComment>true</NotifyOnOwnComment>
      <Active>true</Active>
      <Password>19-A2-85-41-44-B6-3A-8F-76-17-A6-F2-25-01-9B-12</Password>
    </User>
    <User>
      <Role>Contributor</Role>
      <Ask>false</Ask>
      <EmailAddress>donald@TheWhitehouse.com</EmailAddress>
      <DisplayName>the great one</DisplayName>
      <OpenIDUrl>closed</OpenIDUrl>
      <NotifyOnNewPost>false</NotifyOnNewPost>
      <NotifyOnAllComment>false</NotifyOnAllComment>
      <NotifyOnOwnComment>false</NotifyOnOwnComment>
      <Active>true</Active>
      <Password>19-A2-85-41-44-B6-3A-8F-76-17-A6-F2-25-01-9B-12</Password>
    </User>
    <User>
      <Role>Admin</Role>
      <Ask>false</Ask>
      <EmailAddress>jackson@sukishouse.com</EmailAddress>
      <NotifyOnNewPost>false</NotifyOnNewPost>
      <NotifyOnAllComment>false</NotifyOnAllComment>
      <NotifyOnOwnComment>false</NotifyOnOwnComment>
      <Active>false</Active>
      <Password>39-30-32-9F-35-4E-17-58-F2-4C-B6-EF-BF-10-A5-4C</Password>
    </User>
    <User>
      <Role>Contributor</Role>
      <Ask>false</Ask>
      <EmailAddress>bozza@gb.com</EmailAddress>
      <DisplayName>Boris</DisplayName>
      <NotifyOnNewPost>false</NotifyOnNewPost>
      <NotifyOnAllComment>false</NotifyOnAllComment>
      <NotifyOnOwnComment>false</NotifyOnOwnComment>
      <Active>false</Active>
      <Password>19-A2-85-41-44-B6-3A-8F-76-17-A6-F2-25-01-9B-12</Password>
    </User>
    <User>
      <Role>Admin</Role>
      <Ask>true</Ask>
      <EmailAddress>shula@TheStables.com</EmailAddress>
      <DisplayName>Shula Lloyd</DisplayName>
      <OpenIDUrl>wife to Alistair</OpenIDUrl>
      <NotifyOnNewPost>false</NotifyOnNewPost>
      <NotifyOnAllComment>false</NotifyOnAllComment>
      <NotifyOnOwnComment>false</NotifyOnOwnComment>
      <Active>true</Active>
      <Password>19-A2-85-41-44-B6-3A-8F-76-17-A6-F2-25-01-9B-12</Password>
    </User>
    <User>
      <Role>Contributor</Role>
      <Ask>false</Ask>
      <EmailAddress>joey@corrupted.com</EmailAddress>
      <DisplayName>A corrupt man</DisplayName>
      <NotifyOnNewPost>true</NotifyOnNewPost>
      <NotifyOnAllComment>false</NotifyOnAllComment>
      <NotifyOnOwnComment>false</NotifyOnOwnComment>
      <Active>false</Active>
      <Password>19-A2-85-41-44-B6-3A-8F-76-17-A6-F2-25-01-9B-12</Password>
    </User>
    <User>
      <Role>Admin</Role>
      <Ask>false</Ask>
      <EmailAddress>alun@lehman.com</EmailAddress>
      <DisplayName>Dr. Alun David</DisplayName>
      <NotifyOnNewPost>false</NotifyOnNewPost>
      <NotifyOnAllComment>false</NotifyOnAllComment>
      <NotifyOnOwnComment>false</NotifyOnOwnComment>
      <Active>false</Active>
      <Password>19-A2-85-41-44-B6-3A-8F-76-17-A6-F2-25-01-9B-12</Password>
    </User>
    <User>
      <Role>Admin</Role>
      <Ask>false</Ask>
      <EmailAddress>rosa@braintree.com</EmailAddress>
      <DisplayName>Rosa</DisplayName>
      <NotifyOnNewPost>false</NotifyOnNewPost>
      <NotifyOnAllComment>false</NotifyOnAllComment>
      <NotifyOnOwnComment>true</NotifyOnOwnComment>
      <Active>true</Active>
      <Password>19-A2-85-41-44-B6-3A-8F-76-17-A6-F2-25-01-9B-12</Password>
    </User>
  </Users>
</SiteSecurityConfig>