/*
	Colors
	
	All of the colors of the theme are located here.
*/

#header {
	border-bottom-color: #404040;
	border-top-color: #f0f0e0;
	background: royalblue;
}

#left .column { border-color: DimGray; background-color:white; }

#right .column {
	border-left-color: DimGray;
	border-right-color: DimGray;
	border-bottom-color: DimGray;
	color:white;
}
#right A:link, #right A:visited, #right A:active
{
	color:#f0f0e0;
}

A:link { color: royalblue; }

A:visited { color: royalblue; }

A:hover { color: White; background: Black; }

A:active { color: Black; }

body { background-color: #404040; }

.adminNavbarStyle { border-color: DimGray; }

.adminNavbarStyle UL LI { border-color: DimGray; background-color: #CCCCCC; }

.adminNavbarStyle A:link, .adminNavbarStyle A:visited, .adminNavbarStyle A:active { color: #404040}

.adminNavbarStyle UL LI.here { border-bottom-color: White; background-color: White; }

.adminNavbarStyle UL LI.first { border-left-color: DimGray; }

.adminNavbarStyle UL LI.firstHere { border-left-color: DimGray; border-bottom-color: White; background-color: White; }

.commentDateStyle { border-bottom-color: #f0f0e0; color: DimGray; }

.configSectionStyle { border-color: #CCCCCC; background-color: White;}

.configSectionTitleStyle { border-bottom-color: DimGray; }

.date { 
	
	color: DimGray;
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1,startColorStr=#f0f0e0,endColorStr=white);
	background: #f0f0e0;
	border-color:#c0c0c0;
}

.description { color: White; }

.FreeTextboxStyle { color: #000000; }

/* 
	Calendar Colors
*/
 
.hCalendarDay { color: Black; background-color: #f0f0e0; }

#right#weblogCalendar A:link, #right#weblogCalendar A:visited, #right#weblogCalendar A:active
{
	color: Royalblue;
}

.hCalendarDayCurrent { color: Black; background-color: DimGray; }

.hCalendarDayCurrent A { background-color: DimGray; }

.hCalendarDayNameRow { border-bottom-color: #7F7F7F; }

.hCalendarMonthYearRow { border-bottom-color: #7F7F7F; color: White; }

.hCalendarNextPrevStyle {  }

.hCalendarOtherMonthStyle { color: DimGray; background-color: #BFBFBF; }

.hCalendarOtherMonthWeekendStyle { color: DimGray; background-color: #AFAFAF; }

.hCalendarStyle { color: DimGray; }

.hCalendarStyle td { }

.hCalendarWeekendStyle { background-color: #959595; }

.itemBodyStyle, .commentBodyStyle { color: Black; background: White; }

.itemBoxStyle, .commentBoxStyle, .commentViewBoxStyle {
	border-color: #c0c0c0;;
	background-color: White;
}

.itemFooterStyle, .commentBoxFooterStyle {
	border-top-color: #c0c0c0;;
	color: Black;
	background: White;
}

.itemReadMoreStyle { color: Black; }

.itemTitleStyle { border-bottom-color: #c0c0c0;; }

.pageTopic { color: #7F7F7F; }
.side{
	border-color: #f0f0e0;
}
.sidetitle { background-image: url(tile-title.gif);
	background-repeat: repeat-x;
	color: #e0e0e0;
	border-color: #f0f0e0; }

.siteName, .siteName a, .siteName a:visited, .siteName a:hover, .siteName a:active, .siteName a:link { color: White; }

.statsTableColumnStyle { border-color: DimGray; }

.statsTableFooterColumnStyle { border-color: DimGray; }

.statsTableFooterNumColumnStyle { border-color: DimGray; }

.statsTableHeaderColumnStyle { border-color: DimGray; }

.statsTableNumColumnStyle, .statsTableDateColumnStyle { border-color: DimGray; }

.statsTableStyle { border-color: DimGray; background-color: #f0f0e0; }