@using DasBlog.Web.Models.BlogViewModels;
@model ListPostsViewModel
@using Constants = DasBlog.Core.Common.Constants;

@{
    ViewBag.Title = Constants.HomePageTitle;
}

<div id="@Constants.HomePageTestId" class="@Constants.PageTestIdClass"></div>

<div class="row">
    <div id="contents" class="container col-md-9">
        <partial name="_BlogItems" model="Model" />
    </div>
    <search-box/>
</div>
