@using DasBlog.Web.Models.BlogViewModels;
@model CommentViewModel

<div class="modal-body form-horizontal">
    <div class="row">
        <div class="col-md-1 mb-1">
            <img src="//www.gravatar.com/avatar.php?gravatar_id=@Model.GravatarHashId&rating=PG&size=80&default=identicon" />
        </div>
        <div class="col-md-11 mb-5">
            <div class="row">
                <div class="col-md-12 mb-6 text-dark">
                    <a href="@Model.HomePageUrl"><strong>@Model.Name</strong></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-6 text-muted">
                    <i>@Model.Date.ToString("MMMM dd, yyyy H:mm")</i>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-6">
                    @Model.Text
                </div>
            </div>
        </div>
    </div>
</div>