@using DasBlog.Web.Models.BlogViewModels;
@model ListCommentsViewModel

@if (Model != null && Model.Comments != null)
{ 
<hr />
<div class="post-comments">
    <div class="post-comments-list">
        @if (Model.Comments.Count > 0)
        {
            foreach (var comment in Model.Comments)
            {
                @Html.PartialAsync("_CommentPartial", comment)
                <hr />
            }
        }
    </div>
    @Html.PartialAsync("_CommentAddPartial", new AddCommentViewModel() { Comment = string.Empty, Email = string.Empty, HomePage = string.Empty, Name = string.Empty, TargetEntryId = Model.PostId })
</div>
}