@model DasBlog.Web.Models.BlogViewModels.AddCommentViewModel

<div class="post-new-comment">
    <form asp-controller="post" asp-action="comments" method="post">
        <div class="modal-body form-horizontal">
            <div class="row">
                <div class="col-md-4 mb-2">
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label asp-for="HomePage" class="control-label"></label>
                    <input asp-for="HomePage" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-6">
                    <label asp-for="Content" class="control-label"></label>
                    <textarea asp-for="Content" rows="12" cols="60" class="form-control"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-2">
                    <button type="submit" class="btn btn-primary btn-block">SAVE COMMENT</button>
                </div>
            </div>
        </div>
        @Html.HiddenFor(m => m.TargetEntryId)
    </form>
</div>