<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <partial name="_HtmlHeadPartial" />
    <partial name="_HtmlRSSPartial" />
    <partial name="_HtmlAtomPartial" />
    <partial name="_TwitterCardPartial" />
    <partial name="_OpenGraphPartial" />
    <partial name="_BlogPostingSchemaOrgPartial" />

    @* THIS IS THE ADMIN THEME FOR YOUR DASBLOG SITE *** DO NOT REMOVE *** *@
    @* TO CREATE OR MODIFY YOUR OWN THEME FOLLOW INSTRUCTIONS HERE: https://github.com/poppastring/dasblog-core/wiki/4.-Designing-a-theme *@
    <link rel="stylesheet" href="~/lib/bootstrap/5.3.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/6.7.2/css/all.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/Themes/dasblog/custom.css" />

</head>

<body>
    <header class="p-3 mb-3 border-bottom">
        <div class="container-fluid">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                    <img src="~/images/default/dasblog-orig.jpg" alt="DasBlog Logo" class="me-2" height="32" />
                    <span class="fs-4"><site-title /></span>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 ms-lg-4">
                    <li><a asp-area="" asp-controller="home" asp-action="index" class="nav-link px-2 link-secondary">Home</a></li>
                    <li><a asp-area="" asp-controller="category" asp-action="category" class="nav-link px-2 link-body-emphasis">Category</a></li>
                    <li><a asp-area="" asp-controller="archive" asp-action="archive" class="nav-link px-2 link-body-emphasis">Archive</a></li>
                </ul>

                <div class="text-end" dasblog-unauthorized>
                    <a asp-controller="account" asp-action="login" class="btn btn-outline-primary me-2">Log in</a>
                </div>

                <div class="dropdown text-end" dasblog-authorized>
                    <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <user-avatar size="32" />
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end text-small">
                        <li><a class="dropdown-item" href="/admin/post/create"><i class="fas fa-plus-circle me-2"></i>Create Post</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" asp-area="" asp-controller="admin" asp-action="settings"><i class="fas fa-cog me-2"></i>Site Admin</a></li>
                        <li><a class="dropdown-item" asp-area="" asp-controller="admin" asp-action="managecomments"><i class="fas fa-comments me-2"></i>Manage Comments</a></li>
                        <li><a class="dropdown-item" asp-area="" asp-controller="author" asp-action="index"><i class="fas fa-user me-2"></i>Author</a></li>
                        <li><a class="dropdown-item" asp-area="" asp-controller="activity" asp-action="index"><i class="fas fa-chart-line me-2"></i>Activity</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" asp-controller="account" asp-action="logout"><i class="fas fa-sign-out-alt me-2"></i>Log out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="container body-content">

        <partial name="_CookieConsentPartial" />

        @RenderBody()

        <div class="text-center">
            <p class="text-muted">
                <site-page-control view-context="@ViewContext" />
            </p>
        </div>

        <footer>
            <div class="text-center">
                <p class="text-muted credit"><site-copyright /></p>
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/lib/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
