@using DasBlog.Core.Common
@using DasBlog.Web.Models.BlogViewModels;
@using Microsoft.VisualBasic
@model ListPostsViewModel
@using Constants = DasBlog.Core.Common.Constants;

@{
    ViewBag.Title = Constants.HomePageTitle;
}

<div id="@Constants.HomePageTestId" class="@Constants.PageTestIdClass"></div>

<div class="row">
    <div id="contents" class="container col-md-9">

        @if (Model.Posts.Count > 0)
        {
            foreach (var post in Model.Posts)
            {
                @await Html.PartialAsync("_PostPartial", post)
            }
        }
        else
        {
            <p>No posts found!</p>
        }

    </div>
    <search-box/>
</div>
