@using DasBlog.Web.Models.BlogViewModels;
@model ListPostsViewModel

<div class="row">
    <div id="contents" class="container col-md-9">

        @if (Model.Posts.Count > 0)
        {
            foreach (var post in Model.Posts)
            {
                @Html.Partial("_PostPartial", post)
            }
        }
        else
        {
            <p>No posts found!</p>
        }

    </div>
    <div class="col-md-3">
        <div class="sidebar-nav-fixed pull-right affix">
            <div class="panel panel-default">
                <div class="panel-heading">Search</div>
                <div class="panel-body">
                    <form asp-controller="BlogPost" asp-action="Search" method="post">
                        <input type="text" name="searchText" id="searchText"/>
                        <input class="btn" type="submit" value="Go"/>
                    </form>
                </div>
            </div>
        </div>
        <!--/sidebar-nav-fixed -->
    </div>
</div>
