@using DasBlog.Web.Models.BlogViewModels;
@model ListPostsViewModel

<div class="row">
    <div id="contents" class="container col-md-9">

        @if (Model.Posts.Count > 0)
        {
            foreach (var post in Model.Posts)
            {
                @Html.Partial("_PostPartial", post)
            }
        }
        else
        {
            <p>No posts found!</p>
        }

    </div>
    <search-box/>
</div>
