body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Calendar */
ul {
    list-style-type: none;
}

.month {
    display: block;
    padding: 30px 15px;
    text-align: center;
}

    .month ul {
        margin: 0px;
        padding: 0px;
    }

        .month ul li {
            font-size: 14px;
            text-transform: capitalize;
        }

    .month .prev {
        float: left;
        padding-top: 10px;
    }

    .month .next {
        float: right;
        padding-top: 10px;
    }

/* Weekdays (Mon-Sun) */
.weekdays {
    line-height: 56px;
    text-align: center;
}

    .weekdays li {
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
        width: 13.6%;
        text-align: center;
    }

.days {
    padding: 10px 0px;
    margin: 0px;
}

    .days li {
        list-style-type: none;
        display: inline-flex;
        height: 75px;
        width: 13.6%;
        margin-bottom: 5px;
        font-size: 12px;
        padding: 2px;
    }

        .days li > .day {
            display: block;
            padding-left: 30px;
        }
/* this is used by the NicEdit conrol */        
 .nicEdit-main {
     overflow: auto !important;
     height: 5.5em;
 }
        

.users-sidebar {
    max-height: 500px;
    overflow-y: scroll;
}        

/* workaround-users - could not persuade bootstrap to lay out components on 
   a desktop browser so introduced these hacks.  No idea of effect on small screens */
.workaround-users-1 {
    padding-top: 15px;
}
.workaround-users-2 {
    padding-left: 15px;
}
.workaround-users-3 {
     margin-bottom: 15px;
}

.activityTableColumnStyle {
    border: solid 1px;
    padding: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.activityTableDateColumnStyle {
    border: solid 1px;
    padding: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    width: 25%;
    text-align: left;
}

.activityTableFooterColumnStyle {
    border-left: solid 1px;
    border-right: solid 1px;
    border-bottom: solid 1px;
    border-top: solid 2px;
    padding: 3px;
    font-weight: bold;
}

.activityTableFooterNumColumnStyle {
    border-left: solid 1px;
    border-right: solid 1px;
    border-bottom: solid 1px;
    border-top: solid 2px;
    padding: 3px;
    width: 15%;
    font-weight: bold;
    text-align: right;
}

.activityTableHeaderColumnStyle {
    border-left: solid 1px;
    border-right: solid 1px;
    border-bottom: solid 2px;
    border-top: solid 1px;
    padding: 3px;
    font-size: 105%;
    font-weight: bold;
}

.activityTableNumColumnStyle {
    border: solid 1px;
    padding: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    width: 15%;
    text-align: right;
}

.activityTableStyle {
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 1px;
    width: 100%;
    border-collapse: collapse;
}

.activityTableRowStyleError { BACKGROUND-COLOR: lightpink }
.activityTableRowStyleBlocked { BACKGROUND-COLOR: lightgoldenrodyellow }
.activityTableRowStyleSecurityFailure { BACKGROUND-COLOR: lightsalmon }

        
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
