@using DasBlog.Web.Common
@using DasBlog.Core.Security
@model DasBlog.Web.Models.UsersViewModel

<hr />
<div class="row">
    <div class="col-md-9">
        <form asp-action="Maintenance" name="editForm" id="editForm">
            @Html.Partial("UserFields", Model)
            <div class="form-group">
                <confirm-edit type="button" name="submitAction" value="@Constants.SaveAction" class="btn btn-default btn-primary" 
                  id="confirm-edit" model="@Model" onclick="showLastUserError(false, 'confirm-edit')"/>
                <input type="submit" name="submitAction" value="@Constants.CancelAction" class="btn cancel"/>
            </div>
        </form>
    </div>
</div>

