@using DasBlog.Web.Common
@model DasBlog.Web.Models.UsersViewModel

@{
    ViewBag.Title = "User Maintenance";
    Layout = "_UsersLayout";
}


<form asp-action="CreateEditDelete" asp-controller="Users" method="get">
    <input type="submit" class="btn" name="submit" value="@Constants.UsersEditAction"/>
    <input type="submit" class="btn" name="submit" value="@Constants.UsersDeleteAction"/>
</form>

<h2>@ViewBag.Title</h2>

@Html.Partial((string)ViewBag.SubViewName, Model)
        @*subview name is Edit or Delete or possibly something else*@



