@model DasBlog.Web.Models.UsersViewModel

<hr />
<div class="row">
    <div class="col-md-8">
        <div class="col-md-3">Name</div>
        <div class="col-md-3">@Model.User.Name</div>
    </div>
    <div class="col-md-8">
        <div class="col-md-3">Role</div>
        <div class="col-md-3">/**/@Model.User.Role</div>
    </div>
    <div class="col-md-8">
        <div class="col-md-3">Ask</div>
        <input type="checkbox" class="col-md-3" checked="@Model.User.Ask"></div>
    </div>
</div>

