@model DasBlog.Web.Models.UsersViewModel

<hr />
<div class="row">
    <div class="col-md-8">
        <div class="col-md-3">Name</div>
        <div class="col-md-3">@Model.User.Name</div>
    </div>
</div>

