@model DasBlog.Web.Models.UsersViewModel

<hr />
<div class="row">
    <div class="col-md-9">
        <form asp-action="CreateEditDeleteView">
            @Html.Partial("UserFields", Model)
        </form>
    </div>
</div>

