/* 
	admin
	
	These are all the DasBlog specific styles that you can
	use to customize the look and feel of the admin content
*/



.adminNavbarStyle {
	margin-top: 14px;
	padding-left: 1%;
	padding-right: 1%;
	font-weight: normal;
	text-align: center;
	display: block;
	position: relative;
	height: 30px;
	z-index: 500;
	border-bottom: 1px solid; 
}

.adminNavbarStyle UL { 
	white-space: nowrap;
	margin: 0px;
	padding: 0px;
	display: inline;
}

.adminNavbarStyle UL LI { 
	margin: 0px;
	padding: 3px;
	border-right: 1px solid;
	border-top: 1px solid;
	list-style: none;
	display: inline;
}

.adminNavbarStyle UL LI a { 
	
}

.adminNavbarStyle UL LI.first 
{
	border-left: 1px solid;
}

.adminNavbarStyle UL LI.here 
{
	border-bottom: 1px solid;
	list-style: none;
	display: inline;
	z-index:2;
	position:relative;
}

.adminNavbarStyle UL LI.firstHere 
{
	border-left: 1px solid;
	border-bottom: 1px solid;
	list-style: none;
	display: inline;
	z-index:3;
	position:relative;
}

.configControlStyle { font-size: 11px; font-family:Tahoma; }

.configLabelColumnStyle { vertical-align: top; }

.configLabelStyle { margin-right: 10px; font-size: 11px; }

.configSectionStyle {
	border: 1px dashed;
	padding-right: 10px;
	padding-left: 10px;
	margin-bottom: 15px;
	padding-bottom: 10px;
	padding-top: 10px;
	vertical-align: middle;
}

.configSectionTitleStyle {
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid;
	font-weight: bold;
	font-size: 110%;
}

.statsTableColumnStyle {
	border: solid 1px;
	padding: 3px;
	margin-top: 3px;
	margin-bottom: 3px;
}

.statsTableDateColumnStyle {
	border: solid 1px;
	padding: 3px;
	margin-top: 3px;
	margin-bottom: 3px;
	width: 25%;
	text-align: left;
}

.statsTableFooterColumnStyle {
	border-left: solid 1px;
	border-right: solid 1px;
	border-bottom: solid 1px;
	border-top: solid 2px;
	padding: 3px;
	font-weight: bold;
}

.statsTableFooterNumColumnStyle {
	border-left: solid 1px;
	border-right: solid 1px;
	border-bottom: solid 1px;
	border-top: solid 2px;
	padding: 3px;
	width: 15%;
	font-weight: bold;
	text-align: right;
}

.statsTableHeaderColumnStyle {
	border-left: solid 1px;
	border-right: solid 1px;
	border-bottom: solid 2px;
	border-top: solid 1px;
	padding: 3px;
	font-size: 105%;
	font-weight: bold;
}

.statsTableNumColumnStyle {
	border: solid 1px;
	padding: 3px;
	margin-top: 3px;
	margin-bottom: 3px;
	width: 15%;
	text-align: right;
}

.statsTableStyle {
	margin-bottom: 10px;
	border: solid 1px;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

.configSectionStyle table table span {
font-size: 8px;
}

#tableAdvancedOptions {


}

#tableAdvancedOptions input {
font-size: 9px;
}