@using DasBlog.Web.Models.BlogViewModels;
@model ListPostsViewModel

<div class="row">
    <div id="contents" class="container col-md-12">
        <partial name="_BlogItemsSummary" model="Model" />
    </div>
</div>
