<rewrite>
  <rules>
    <rule name="Redirect RSS syndication" stopProcessing="true">
      <match url="^SyndicationService.asmx/GetRss" />
      <action type="Redirect" url="feed/rss" redirectType="Permanent" />
    </rule>

    <rule name="Redirect ATOM syndication" stopProcessing="true">
      <match url="^SyndicationService.asmx/GetAtom" />
      <action type="Redirect" url="feed/rss" redirectType="Permanent" />
    </rule>

    <rule name="Redirect Month page (year-month)" stopProcessing="true">
      <match url="^monthview.aspx" />
      <conditions>
        <add input="{QUERY_STRING}" pattern="&amp;?month=(.*)-(.*)" />
      </conditions>
      <action type="Redirect" url="archive/{C:1}/{C:2}" redirectType="Permanent" />
    </rule>

    <rule name="Redirect Month page (year)" stopProcessing="false">
      <match url="^monthview.aspx" />
      <conditions>
        <add input="{QUERY_STRING}" pattern="&amp;?year=(.*)" />
      </conditions>/
      <action type="Redirect" url="archive/{C:1}" redirectType="Permanent" />
    </rule>

    <rule name="Redirect Month page" stopProcessing="false">
      <match url="^monthview.aspx" />
      <action type="Redirect" url="archive" redirectType="Permanent" />
    </rule>

    <rule name="Category page" stopProcessing="true">
      <match url="^archives.aspx" />
      <action type="Redirect" url="category" redirectType="Permanent" />
    </rule>

    <rule name="Category page (category)" stopProcessing="true">
      <match url="^CategoryView.aspx" />
      <conditions>
        <add input="{QUERY_STRING}" pattern="&amp;?category=(.*)" />
      </conditions>
      <action type="Redirect" url="category/{C:1}" redirectType="Permanent" />
    </rule>

    <rule name="Redirect Comments" stopProcessing="true">
      <match url="^commentview.aspx" />
      <conditions>
        <add input="{QUERY_STRING}" pattern="&amp;?guid=(.*)" />
      </conditions>
      <action type="Redirect" url="{C:1}/comments#commentstart" redirectType="Permanent" />
    </rule>

    <rule name="Redirect Comments RSS" stopProcessing="true">
      <match url="^SyndicationService.asmx/GetEntryCommentsRss" />
      <conditions>
        <add input="{QUERY_STRING}" pattern="&amp;?guid=(.*)" />
      </conditions>
      <action type="Redirect" url="feed/rss/{C:1}/comments/" redirectType="Permanent" />
    </rule>
    
  </rules>
</rewrite>
