<?xml version="1.0" encoding="utf-8"?>
<SiteSecurityData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Users>
    <User>
      <Name>admin</Name>
      <Role>Admin</Role>
      <Ask>true</Ask>
      <EmailAddress>myemail@myemail.com</EmailAddress>
      <DisplayName>Your DisplayName here!</DisplayName>
      <OpenIDUrl>http://www.example.com/blog/</OpenIDUrl>
      <NotifyOnNewPost>false</NotifyOnNewPost>
      <NotifyOnAllComment>false</NotifyOnAllComment>
      <NotifyOnOwnComment>false</NotifyOnOwnComment>
      <Active>true</Active>
      <Password>19-A2-85-41-44-B6-3A-8F-76-17-A6-F2-25-01-9B-12</Password>
    </User>
    <User>
      <Name>mike</Name>
      <Role>Contributor</Role>
      <Ask>true</Ask>
      <EmailAddress>myemail2@myemail.com</EmailAddress>
      <DisplayName>Your DisplayName here!</DisplayName>
      <OpenIDUrl>http://www.example.com/blog/</OpenIDUrl>
      <NotifyOnNewPost>false</NotifyOnNewPost>
      <NotifyOnAllComment>false</NotifyOnAllComment>
      <NotifyOnOwnComment>false</NotifyOnOwnComment>
      <Active>true</Active>
      <Password>19-A2-85-41-44-B6-3A-8F-76-17-A6-F2-25-01-9B-12</Password>
    </User>
    <User>
      <Name>mikemay@blueyonder.co.uk</Name>
      <Role>Admin</Role>
      <Ask>false</Ask>
      <EmailAddress>mike@com.com</EmailAddress>
      <NotifyOnNewPost>false</NotifyOnNewPost>
      <NotifyOnAllComment>false</NotifyOnAllComment>
      <NotifyOnOwnComment>false</NotifyOnOwnComment>
      <Active>false</Active>
      <Password>D1-C3-64-F4-B7-12-DC-6C-80-4C-2B-77-3D-E7-6D-97</Password>
    </User>
    <User>
      <Name>BOB</Name>
      <Role>Admin</Role>
      <Ask>false</Ask>
      <EmailAddress>bob@COM.COM</EmailAddress>
      <NotifyOnNewPost>false</NotifyOnNewPost>
      <NotifyOnAllComment>false</NotifyOnAllComment>
      <NotifyOnOwnComment>false</NotifyOnOwnComment>
      <Active>false</Active>
      <Password>F9-62-2C-38-53-A8-65-30-BB-66-6B-31-8D-A9-C0-46</Password>
    </User>
    <User>
      <Name>sss</Name>
      <Role>Admin</Role>
      <Ask>false</Ask>
      <EmailAddress>penny@site.com</EmailAddress>
      <NotifyOnNewPost>false</NotifyOnNewPost>
      <NotifyOnAllComment>false</NotifyOnAllComment>
      <NotifyOnOwnComment>false</NotifyOnOwnComment>
      <Active>false</Active>
      <Password>1bcd</Password>
      <XmlPassword>8F-D1-DF-98-6D-DA-DB-1D-6F-37-07-90-C5-68-A2-52-BB-E2-FC-89-91-80-01-E3-17-70-C2-46-2C-3A-6F-0F-7C-77-95-08-C3-B5-37-88-B7-2E-9E-80-CF-5B-12-9F-59-89-F0-EE-DC-6B-5E-BE-ED-28-1C-10-E7-88-6D-6D</XmlPassword>
    </User>
    <User>
      <Name>rori</Name>
      <Role>Admin</Role>
      <Ask>false</Ask>
      <EmailAddress>rori@homefarm2.com</EmailAddress>
      <NotifyOnNewPost>false</NotifyOnNewPost>
      <NotifyOnAllComment>false</NotifyOnAllComment>
      <NotifyOnOwnComment>false</NotifyOnOwnComment>
      <Active>false</Active>
      <Password>19-A2-85-41-44-B6-3A-8F-76-17-A6-F2-25-01-9B-12</Password>
    </User>
    <User>
      <Name>lilian</Name>
      <Role>Admin</Role>
      <Ask>false</Ask>
      <EmailAddress>lilian@thedowerhouse.com</EmailAddress>
      <NotifyOnNewPost>false</NotifyOnNewPost>
      <NotifyOnAllComment>false</NotifyOnAllComment>
      <NotifyOnOwnComment>false</NotifyOnOwnComment>
      <Active>false</Active>
      <Password>D6-1D-00-4C-03-45-7B-AC-7B-90-C1-E8-D4-F5-11-13-BE-16-23-46-B2-7A-F5-30-7C-AF-FE-21-EF-88-59-7F-F1-5A-B1-56-9E-07-15-53-02-FF-7B-0A-F2-9F-7F-04-31-53-10-04-56-8D-A3-84-9A-57-08-17-68-15-A7-0F</Password>
    </User>
    <User>
      <Name>jenifer</Name>
      <Role>Admin</Role>
      <Ask>false</Ask>
      <EmailAddress>jenifer@homefarm.com</EmailAddress>
      <NotifyOnNewPost>false</NotifyOnNewPost>
      <NotifyOnAllComment>false</NotifyOnAllComment>
      <NotifyOnOwnComment>false</NotifyOnOwnComment>
      <Active>false</Active>
      <Password>D6-1D-00-4C-03-45-7B-AC-7B-90-C1-E8-D4-F5-11-13-BE-16-23-46-B2-7A-F5-30-7C-AF-FE-21-EF-88-59-7F-F1-5A-B1-56-9E-07-15-53-02-FF-7B-0A-F2-9F-7F-04-31-53-10-04-56-8D-A3-84-9A-57-08-17-68-15-A7-0F</Password>
    </User>
    <User>
      <Name>shula</Name>
      <Role>Admin</Role>
      <Ask>false</Ask>
      <EmailAddress>shula@theStables.com</EmailAddress>
      <NotifyOnNewPost>false</NotifyOnNewPost>
      <NotifyOnAllComment>false</NotifyOnAllComment>
      <NotifyOnOwnComment>false</NotifyOnOwnComment>
      <Active>true</Active>
      <Password>19-A2-85-41-44-B6-3A-8F-76-17-A6-F2-25-01-9B-12</Password>
    </User>
    <User>
      <Name>logan@branford.com</Name>
      <Role>Admin</Role>
      <Ask>false</Ask>
      <EmailAddress>logan@branford.com</EmailAddress>
      <NotifyOnNewPost>false</NotifyOnNewPost>
      <NotifyOnAllComment>false</NotifyOnAllComment>
      <NotifyOnOwnComment>false</NotifyOnOwnComment>
      <Active>false</Active>
      <Password>19-A2-85-41-44-B6-3A-8F-76-17-A6-F2-25-01-9B-12</Password>
    </User>
    <User>
      <Name>don</Name>
      <Role>Admin</Role>
      <Ask>false</Ask>
      <EmailAddress>donald@trumpTower.com</EmailAddress>
      <NotifyOnNewPost>false</NotifyOnNewPost>
      <NotifyOnAllComment>false</NotifyOnAllComment>
      <NotifyOnOwnComment>false</NotifyOnOwnComment>
      <Active>true</Active>
      <Password>9D-4B-D4-BE-16-D3-95-80-20-3C-4B-5E-BB-C6-1B-5C</Password>
    </User>
    <User>
      <Name>don</Name>
      <Role>Admin</Role>
      <Ask>false</Ask>
      <EmailAddress>donald@abc.com</EmailAddress>
      <NotifyOnNewPost>false</NotifyOnNewPost>
      <NotifyOnAllComment>false</NotifyOnAllComment>
      <NotifyOnOwnComment>false</NotifyOnOwnComment>
      <Active>true</Active>
      <Password>B5-6C-EC-2E-0C-59-8F-5D-7F-94-54-0B-EA-5E-63-13</Password>
    </User>
    <User>
      <Name>tez</Name>
      <Role>Admin</Role>
      <Ask>false</Ask>
      <EmailAddress>theresa@number10.com</EmailAddress>
      <NotifyOnNewPost>false</NotifyOnNewPost>
      <NotifyOnAllComment>false</NotifyOnAllComment>
      <NotifyOnOwnComment>false</NotifyOnOwnComment>
      <Active>false</Active>
      <Password>E0-0B-81-7F-29-23-E9-08-8B-66-1F-3D-75-B0-92-70</Password>
    </User>
    <User>
      <Name>jackson</Name>
      <Role>Admin</Role>
      <Ask>false</Ask>
      <EmailAddress>jackson@sukishouse.com</EmailAddress>
      <NotifyOnNewPost>false</NotifyOnNewPost>
      <NotifyOnAllComment>false</NotifyOnAllComment>
      <NotifyOnOwnComment>false</NotifyOnOwnComment>
      <Active>false</Active>
      <Password>6C-D5-C3-23-5D-8E-1F-91-0A-1F-CA-42-3E-51-46-74</Password>
    </User>
  </Users>
</SiteSecurityData>