<?xml version="1.0" encoding="utf-8"?>
<SiteSecurityData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Users>
    <User>
      <Name>admin</Name>
      <Role>Admin</Role>
      <Ask>true</Ask>
      <EmailAddress>myemail@myemail.com</EmailAddress>
      <DisplayName>Your DisplayName here!</DisplayName>
      <OpenIDUrl>http://www.example.com/blog/</OpenIDUrl>
      <NotifyOnNewPost>false</NotifyOnNewPost>
      <NotifyOnAllComment>false</NotifyOnAllComment>
      <NotifyOnOwnComment>false</NotifyOnOwnComment>
      <Active>true</Active>
      <Password>19-A2-85-41-44-B6-3A-8F-76-17-A6-F2-25-01-9B-12</Password>
    </User>
    <User>
      <Name>mike</Name>
      <Role>Contributor</Role>
      <Ask>true</Ask>
      <EmailAddress>myemail2@myemail.com</EmailAddress>
      <DisplayName>Your DisplayName here!</DisplayName>
      <OpenIDUrl>http://www.example.com/blog/</OpenIDUrl>
      <NotifyOnNewPost>false</NotifyOnNewPost>
      <NotifyOnAllComment>false</NotifyOnAllComment>
      <NotifyOnOwnComment>false</NotifyOnOwnComment>
      <Active>true</Active>
      <Password>19-A2-85-41-44-B6-3A-8F-76-17-A6-F2-25-01-9B-12</Password>
    </User>
    <User>
      <Name>shula</Name>
      <Role>Admin</Role>
      <Ask>true</Ask>
      <EmailAddress>shula@theStables.com</EmailAddress>
      <DisplayName>Shula Lloyd</DisplayName>
      <NotifyOnNewPost>false</NotifyOnNewPost>
      <NotifyOnAllComment>false</NotifyOnAllComment>
      <NotifyOnOwnComment>false</NotifyOnOwnComment>
      <Active>true</Active>
      <Password>19-A2-85-41-44-B6-3A-8F-76-17-A6-F2-25-01-9B-12</Password>
    </User>
    <User>
      <Name>don</Name>
      <Role>Admin</Role>
      <Ask>false</Ask>
      <EmailAddress>donald@abc.com</EmailAddress>
      <NotifyOnNewPost>false</NotifyOnNewPost>
      <NotifyOnAllComment>false</NotifyOnAllComment>
      <NotifyOnOwnComment>false</NotifyOnOwnComment>
      <Active>true</Active>
      <Password>B5-6C-EC-2E-0C-59-8F-5D-7F-94-54-0B-EA-5E-63-13</Password>
    </User>
    <User>
      <Name>tez</Name>
      <Role>Admin</Role>
      <Ask>false</Ask>
      <EmailAddress>theresa@number10.com</EmailAddress>
      <NotifyOnNewPost>false</NotifyOnNewPost>
      <NotifyOnAllComment>false</NotifyOnAllComment>
      <NotifyOnOwnComment>false</NotifyOnOwnComment>
      <Active>false</Active>
      <Password>E0-0B-81-7F-29-23-E9-08-8B-66-1F-3D-75-B0-92-70</Password>
    </User>
    <User>
      <Name>jackson</Name>
      <Role>Admin</Role>
      <Ask>false</Ask>
      <EmailAddress>jackson@sukishouse.com</EmailAddress>
      <NotifyOnNewPost>false</NotifyOnNewPost>
      <NotifyOnAllComment>false</NotifyOnAllComment>
      <NotifyOnOwnComment>false</NotifyOnOwnComment>
      <Active>false</Active>
      <Password>39-30-32-9F-35-4E-17-58-F2-4C-B6-EF-BF-10-A5-4C</Password>
    </User>
    <User>
      <Name>miners</Name>
      <Role>Admin</Role>
      <Ask>false</Ask>
      <EmailAddress>miners@com.com</EmailAddress>
      <NotifyOnNewPost>false</NotifyOnNewPost>
      <NotifyOnAllComment>false</NotifyOnAllComment>
      <NotifyOnOwnComment>false</NotifyOnOwnComment>
      <Active>false</Active>
      <Password>19-A2-85-41-44-B6-3A-8F-76-17-A6-F2-25-01-9B-12</Password>
    </User>
  </Users>
</SiteSecurityData>