<?xml version="1.0" encoding="utf-8"?>
<SiteSecurityConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Users>
    <User>
      <Role>Admin</Role>
      <Ask>true</Ask>
      <EmailAddress>myemail@myemail.com</EmailAddress>
      <DisplayName>Your DisplayName here!</DisplayName>
      <OpenIDUrl>http://www.example.com/blog/</OpenIDUrl>
      <NotifyOnNewPost>true</NotifyOnNewPost>
      <NotifyOnAllComment>true</NotifyOnAllComment>
      <NotifyOnOwnComment>true</NotifyOnOwnComment>
      <Active>true</Active>
      <Password>19-A2-85-41-44-B6-3A-8F-76-17-A6-F2-25-01-9B-12</Password>
    </User>
  </Users>
</SiteSecurityConfig>
