<?xml version="1.0" encoding="utf-8"?>
<MetaTags>
  <MetaDescription>John Doe is a professional web developer. He is blogging about ASP.NET and web developing.</MetaDescription>
  <MetaKeywords>ASP.NET Silverlight CSS HTML JavaScript</MetaKeywords>
  <TwitterCard>summary</TwitterCard>
  <TwitterSite>@twitterhandle</TwitterSite>
  <TwitterCreator>@twitterhandle</TwitterCreator>
  <TwitterImage>http://www.somesite.com/images/defaultsiteimage.png</TwitterImage>
  <FaceBookAdmins>fbadmin</FaceBookAdmins>
  <FaceBookAppID>AB124321234</FaceBookAppID>
  <GoogleAnalyticsID>UA</GoogleAnalyticsID>
</MetaTags>