<?xml version="1.0" encoding="utf-8"?>
<SiteSecurityConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Users>
    <User>
      <Role>Admin</Role>
      <Ask>true</Ask>
      <EmailAddress>myemail@myemail.com</EmailAddress>
      <DisplayName>Admin Name</DisplayName>
      <OpenIDUrl>http://www.example.com/blog/</OpenIDUrl>
      <NotifyOnNewPost>true</NotifyOnNewPost>
      <NotifyOnAllComment>true</NotifyOnAllComment>
      <NotifyOnOwnComment>true</NotifyOnOwnComment>
      <Active>true</Active>
      <Password></Password>
    </User>
  </Users>
</SiteSecurityConfig>