<?xml version="1.0" encoding="utf-8"?>
<SiteConfig>
  <Title>My DasBlog!</Title>
  <Subtitle>This is DasBlog Core!</Subtitle>
  <Theme>darkly</Theme>
  <Description>This blog is powered by DasBlog Core built on the awesome legacy of the original DasBlog!</Description>
  <Contact>dasblog@example.com</Contact>
  <Root>https://localhost:5001/</Root>
  <Copyright>Your Name Here</Copyright>
  <RssDayCount>10</RssDayCount>
  <RssMainEntryCount>50</RssMainEntryCount>
  <RssEntryCount>50</RssEntryCount>
  <EnableRssItemFooters>false</EnableRssItemFooters>
  <RssItemFooter>This weblog is sponsored by &lt;a href="https://github.com/poppastring/dasblog-core"&gt;DasBlog-core&lt;/a&gt;. </RssItemFooter>
  <FrontPageDayCount>5</FrontPageDayCount>
  <FrontPageEntryCount>5</FrontPageEntryCount>
  <CategoryAllEntries>true</CategoryAllEntries>
  <AlwaysIncludeContentInRSS>true</AlwaysIncludeContentInRSS>
  <EntryTitleAsLink>true</EntryTitleAsLink>
  <ObfuscateEmail>true</ObfuscateEmail>
  <NotificationEMailAddress>foo@foo.com</NotificationEMailAddress>
  <SendCommentsByEmail>false</SendCommentsByEmail>
  <EnableBloggerApi>true</EnableBloggerApi>
  <EnableComments>true</EnableComments>
  <AllowMarkdownInComments>false</AllowMarkdownInComments>
  <ShowCommentCount>true</ShowCommentCount>
  <EnableStartPageCaching>true</EnableStartPageCaching>
  <EnableRewritingHashtagsToCategoryLinks>false</EnableRewritingHashtagsToCategoryLinks>
  <EnableRewritingBareLinksToEmbeddings>false</EnableRewritingBareLinksToEmbeddings>
  <EnableRewritingBareLinksToIcons>false</EnableRewritingBareLinksToIcons>
  <DisplayTimeZoneIndex>0</DisplayTimeZoneIndex>
  <AdjustDisplayTimeZone>true</AdjustDisplayTimeZone>
  <ContentDir>content</ContentDir>
  <LogDir>logs</LogDir>
  <BinariesDir>content/binary</BinariesDir>
  <SmtpServer>localhost</SmtpServer>
  <EnableCaptcha>false</EnableCaptcha>
  <RecaptchaMinimumScore>0</RecaptchaMinimumScore>
  <EnableTitlePermaLink>false</EnableTitlePermaLink>
  <EnableTitlePermaLinkUnique>false</EnableTitlePermaLinkUnique>
  <EnableTitlePermaLinkSpaces>false</EnableTitlePermaLinkSpaces>
  <EnableSmtpAuthentication>true</EnableSmtpAuthentication>
  <EnableSearchHighlight>false</EnableSearchHighlight>
  <DaysCommentsAllowed>360</DaysCommentsAllowed>
  <EnableCommentDays>true</EnableCommentDays>
  <EntryEditControl>Jodit</EntryEditControl>
  <LogBlockedReferrals>false</LogBlockedReferrals>
  <ShowCommentsWhenViewingEntry>true</ShowCommentsWhenViewingEntry>
  <ContentLookaheadDays>1</ContentLookaheadDays>
  <SmtpPort>25</SmtpPort>
  <CommentsAllowGravatar>true</CommentsAllowGravatar>
  <CommentsGravatarNoImgPath>identicon</CommentsGravatarNoImgPath>
  <CommentsGravatarSize>80</CommentsGravatarSize>
  <CommentsGravatarRating>PG</CommentsGravatarRating>
  <CommentsRequireApproval>false</CommentsRequireApproval>
  <CommentsAllowHtml>true</CommentsAllowHtml>
  <EnableSpamModeration>false</EnableSpamModeration>
  <EntriesPerPage>5</EntriesPerPage>
  <EnableDailyReportEmail>false</EnableDailyReportEmail>
  <UseSSLForSMTP>false</UseSSLForSMTP>
  <PreferredBloggingAPI>Moveable Type</PreferredBloggingAPI>
  <EnableGeoRss>false</EnableGeoRss>
  <DefaultLatitude>0</DefaultLatitude>
  <DefaultLongitude>0</DefaultLongitude>
  <EnableDefaultLatLongForNonGeoCodedPosts>false</EnableDefaultLatLongForNonGeoCodedPosts>
  <HtmlTidyContent>false</HtmlTidyContent>
  <CheesySpamQ>2+5=?</CheesySpamQ>
  <CheesySpamA>7</CheesySpamA>
  <ShowItemSummaryInAggregatedViews>false</ShowItemSummaryInAggregatedViews>
  <ValidCommentTags name="0">
    <tag name="a" attributes="href,title" allowed="true" />
    <tag name="b" allowed="true" />
    <tag name="blockquote" attributes="cite" allowed="true" />
    <tag name="em" allowed="true" />
    <tag name="i" allowed="true" />
    <tag name="li" allowed="true" />
    <tag name="ol" allowed="true" />
    <tag name="p" allowed="true" />
    <tag name="pre" allowed="true" />
    <tag name="strike" allowed="true" />
    <tag name="strong" allowed="true" />
    <tag name="sub" allowed="true" />
    <tag name="super" allowed="true" />
    <tag name="u" allowed="true" />
    <tag name="ul" allowed="true" />
  </ValidCommentTags>
  <UseAspxExtension>false</UseAspxExtension>
  <CookieConsentEnabled>true</CookieConsentEnabled>
  <SecurityScriptSources>cloud.tinymce.com;cdn.tiny.cloud;cdn.jsdelivr.net;js.nicedit.com;www.google.com;cse.google.com;cdn.syndication.twimg.com;platform.twitter.com;apis.google.com;www.google-analytics.com;www.googletagservices.com;adservice.google.com;securepubads.g.doubleclick.net;ajax.aspnetcdn.com;ssl.google-analytics.com</SecurityScriptSources>
  <SecurityStyleSources>cloud.tinymce.com;cdn.tiny.cloud;cdn.jsdelivr.net;js.nicedit.com;www.google.com;platform.twitter.com;cdn.syndication.twimg.com;fonts.googleapis.com;maxcdn.bootstrapcdn.com</SecurityStyleSources>
  <DefaultSources>data:;https:;wss:</DefaultSources>
</SiteConfig>