<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <partial name="_HtmlHeadPartial" />
    <partial name="_HtmlRSSPartial" />
    <partial name="_HtmlAtomPartial" />
    <partial name="_TwitterCardPartial" />
    <partial name="_OpenGraphPartial" />
    <partial name="_BlogPostingSchemaOrgPartial" />

    <link rel="stylesheet" href="~/lib/bootstrap/5.3.3/css/bootstrap.min.css" />

    <partial name="_HtmlThemePartial" />

</head>

<body>

    <nav class="navbar navbar-expand-lg flm-navbar">
        <div class="container flm-nav-container">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand flm-brand">
                <site-title />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-flamingo" aria-controls="navbar-flamingo" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-flamingo">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="home" asp-action="index">Home</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="category" asp-action="category">Tags</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="archive" asp-action="archive">Archive</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="feed" asp-action="rss">Subscribe</a></li>
                    <li class="nav-item" dasblog-authorized><a class="nav-link" asp-area="" asp-controller="admin" asp-action="settings">[Admin]</a></li>
                    
                    <li class="nav-item" dasblog-authorized><a class="nav-link" asp-controller="account" asp-action="logout">Log out</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container flm-container">

        <partial name="_CookieConsentPartial" />

        @RenderBody()

        <div class="text-center mt-4">
            <p class="text-muted">
                <site-page-control view-context="@ViewContext" />
            </p>
        </div>

        <footer class="flm-footer">
            <div class="text-center">
                <p><site-copyright /></p>
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/lib/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
