@model PostViewModel

<article class="mb-5 pb-4 border-bottom">
    <div class="row g-0 align-items-center">
        <div class="col-md-5">
            <post-image post=@Model css="img-fluid rounded" style="width: 100%; height: 220px; object-fit: cover;" default-image="/images/default/median.svg" />
        </div>
        <div class="col-md-7 ps-md-4 pt-3 pt-md-0">
            <p class="text-muted mb-1">
                <small><post-created-date post="@Model" date-time-format="MMMM dd, yyyy" /></small>
            </p>
            <h3>
                <post-title-link post=@Model ></post-title-link>
            </h3>
            <p class="text-muted"><post-content post="@Model" strip-html="true" content-length="30" /></p>
            <post-title-link post=@Model css="fw-semibold">Continue reading...</post-title-link>
        </div>
    </div>
</article>



