@model PostViewModel

<div class="card mb-4 shadow-sm">
    <div class="card-body">
        <h3 class="card-title">
            <post-title-link post=@Model ></post-title-link>
        </h3>
        <p class="card-subtitle mb-3 text-muted">
            <small><post-created-date post="@Model" date-time-format="MMMM dd, yyyy" /></small>
        </p>
        <p class="card-text"><post-content post="@Model" strip-html="true" content-length="20" /></p>
        <p class="lead">
            <post-title-link post=@Model>Continue reading...</post-title-link>
        </p>
    </div>
</div>



