@using DasBlog.Core.Common
@model DasBlog.Web.Models.AuthorViewModel

@{
    ViewBag.Title = "User";
}

<h2>@ViewBag.Title</h2>


<form asp-action="adminauthor" method="get">

    <input type="submit" class="btn btn-primary btn-default" name="maintenanceMode" value="Edit" />    

    <partial name="ViewEditAuthor" model="Model" />

</form>


