@using DasBlog.Core.Common
@using DasBlog.Core.Security
@model DasBlog.Web.Models.AuthorViewModel

@{
    ViewBag.Title = "Edit User";
    Layout = "../../Themes/dasblog/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<hr />

<form asp-action="UpdateAuthor" name="editForm" id="editForm" class="row g-3">

    <partial name="AuthorAdminFields" model="Model" />

    <hr />

    <div class="d-flex flex-wrap">
        <input type="submit" name="submitAction" value="Submit" class="btn btn-primary me-2" @ViewBag.Clickability />
        <input asp-controller="Home" asp-action="Index" type="submit" name="submit" value="Cancel" class="btn btn-secondary me-2" />
    </div>

</form>
