@using DasBlog.Core.Common
@using DasBlog.Core.Security
@model DasBlog.Web.Models.AuthorViewModel

@{
    ViewBag.Title = "View/Edit User";
    Layout = "../../Themes/dasblog/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-9">
        <form asp-action="UpdateAuthor" name="editForm" id="editForm">

            <partial name="AuthorAdminFields" model="Model" />

            <hr />

            <div class="form-group">
                <input type="submit" name="submitAction" value="Save" class="btn btn-default btn-primary btn-lg" @ViewBag.Clickability />
                <input asp-controller="Home" asp-action="Index" type="submit" name="submit" value="Cancel" class="btn btn-default btn-secondary btn-lg" />
            </div>
        </form>
    </div>
</div>
