@using DasBlog.Services;
@using DasBlog.Web.Models.BlogViewModels;
@using Constants = DasBlog.Core.Common.Constants;

@model ListPostsViewModel

@inject IDasBlogSettings dasBlogSettings

@{
    ViewBag.Title = Constants.HomePageTitle;
}

<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
        <h1 class="display-4 font-italic">@dasBlogSettings.SiteConfiguration.Subtitle</h1>
        <p class="lead my-3">@dasBlogSettings.SiteConfiguration.Description</p>
    </div>
</div>

<div class="row mb-2">
    @await Html.PartialAsync("_BlogItemsSummary", Model)
</div>
