@model DasBlog.Web.Models.BlogViewModels.PostViewModel

<form asp-controller="post" asp-action="create" method="post" enctype="multipart/form-data">
    <div class="modal-body">
        <partial name="BlogPostFields" model="Model" />
        <div class="form-group row">
            <div class="col-sm-6">
                <input type="submit" name="submit" value="Post" />
                <input asp-controller="Home" asp-action="Index" type="submit" name="submit" value="Cancel" />
            </div>
        </div>
    </div>

    @Html.HiddenFor(m => m.EntryId)
    @Html.HiddenFor(m => m.Author)
    @Html.HiddenFor(m => m.CreatedDateTime)

</form>
 
@section scripts {
    <rich-edit-scripts control-id="mytextarea"/>
   
}