@model DasBlog.Web.Models.BlogViewModels.PostViewModel

@{
    ViewBag.Title = "Create";
    Layout = "../../Themes/dasblog/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<form asp-controller="post" asp-action="create" method="post" enctype="multipart/form-data">

    <hr />

    <div class="modal-body">
        <partial name="BlogPostFields" model="Model" />

        <hr />

        <div class="form-group row">
            <div class="col-sm-6">
                <input class="btn btn-default btn-primary btn-lg" type="submit" name="submit" value="Create Post" id="BlogPostCreateSubmit" />
                <input class="btn btn-default btn-secondary btn-lg" asp-controller="Home" asp-action="Index" type="submit" name="submit" value="Cancel" />
            </div>
        </div>
    </div>

    @Html.HiddenFor(m => m.EntryId)
    @Html.HiddenFor(m => m.Author)
    @Html.HiddenFor(m => m.CreatedDateTime)

</form>

@section scripts {
    <rich-edit-scripts control-id="mytextarea" />

}