@model DasBlog.Web.Models.BlogViewModels.PostViewModel

@{
    ViewBag.Title = "Create";
    Layout = "../../Themes/dasblog/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<hr />

<form asp-controller="post" asp-action="create" method="post" enctype="multipart/form-data">

    <partial name="BlogPostFields" model="Model" />

    <hr />
    <div class="d-flex flex-wrap">
        <input class="btn btn-primary me-2" type="submit" name="submit" value="Create Post" id="BlogPostCreateSubmit" />
        <input class="btn btn-secondary me-2" asp-controller="Home" asp-action="Index" type="submit" name="submit" value="Cancel" />
    </div>

    @Html.HiddenFor(m => m.EntryId)
    @Html.HiddenFor(m => m.Author)
    @Html.HiddenFor(m => m.CreatedDateTime)

</form>

@section scripts {
    <rich-edit-scripts control-id="mytextarea" />
}